<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta charset="utf-8">
    <title>ROAM CITY REVIEWS</title>
  </head>
  <body class="container-fluid">
    {{> nav }}
    <div class="jumbotron" style="background-image:url(/images/roam_cities.jpg);background-repeat: no-repeat; background-attachment: fixed;
      background-position: 10% 99%;">
      <h1 style="color:white;">Search City</h1>
      <div class="row">
      <div class="col-xs-6 col-md-4"></div>
      <form class="col-xs-6 col-md-4" method="post" action="/cities">
        <div  class="form-group">

         <input style="width:400px;" type="text"  class="form-control" placeholder="Search City Review" name="city">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
        <div class="col-xs-6 col-md-4"></div>
      </div>
   </div>
    {{#each reviews}}
    <div class="container" style:"padding-left:150px; height:100%;">
      <div class="media" style ="border-bottom: dashed  #D3D3D3; border-width: thin; display=block; ">
        <div class="media-left">
          <a href="#" >
            <img class="media-object" src="{{city_image}}" alt="..." style="width:150px; height:150px; border-radius:5px;">
          </a>
        </div>
        <div class="media-body" style="width:600px;">
          <h4 class="media-heading">{{city}}</h4>
          <p style="">{{tip}}</p>
            <p style=""><i>Posted : {{logged}}</i></p>
          <div>
            {{#if thumbs}}
              <i style= "font-size:2rem; color:green; "class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              Recommended
            {{/if}}
            {{#unless thumbs}}
              <i style= "font-size:2rem; color:red;" class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              Not Recommended
            {{/unless}}
          </div>
        </div>
        <br>
      </div>
    </div>
    <br>
    {{/each}}
  </body>
</html>
